<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title> Practica 1</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">Practica 1</h1>
    </div>
    <div class="text-center">
      <h2 id="subtitulo" class="text-center">Integracion con Jenkins</h2>
      <img class="img-fluid" alt="Responsive image" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e3/Jenkins_logo_with_title.svg/1280px-Jenkins_logo_with_title.svg.png" height="25%" width="50%">
    </div>
    <div class="text-center">
      <h3> {{nombre}} - {{carnet}} </h3>
      <h3> Software Avanzado - Vacaciones Segundo Semestre 2020 </h3>
      <img class="img-fluid" src="https://i.pinimg.com/originals/c0/9a/97/c09a97a8f18cb8908ea897639cbe4fa8.gif">
      <audio src="https://vgmsite.com/soundtracks/super-mario-64-soundtrack/xuhwdiuydz/09%20Dire%2C%20Dire%20Docks.mp3" autoplay loop></audio>
    </div>
  </div>
</div>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</html>
